.page-wrapper {
  margin: 10% auto;
  width: 50%;
}

.mat-form-field {
  width: 100%;
}
.mat-chip img, .mat-option img {
  float: left;
  margin: 0 8px 0 -4px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.mat-option img  {
    float: left;
    margin: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  .sbmt-btn {
    margin: 16px;
  }
